@import 'vendor/reset';

@import 'common/breakpoints';
@import 'common/mixins';
@import 'common/colours'; 
@import 'common/typography';
@import 'common/buttons';

@import 'components/site-header';
@import 'components/launch-list-item';
@import 'components/list-controls';

.container {
  padding: 15px;
  width: 100%; 
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media(min-width: $breakpoint-md) {
    &--main {
      display: flex;
      align-items: flex-start;
    }
  }
}

.home-image {
  display: none;

  @media(min-width: $breakpoint-md) {
    display: block;
    margin: 0 60px 0 0;
    align-self: flex-start;
    width: auto;
    max-width: 45%;
  }
}

.list-wrapper {
  width: 100%;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
